$colors: (
  // slate: ( 
  //   50: 210 40% 98%,
  //   100: 210 40% 96%,
  //   200: 214 32% 91%,
  //   300: 213 27% 84%,
  //   400: 215 20% 65%,
  //   500: 215 16% 47%,
  //   600: 215 19% 35%,
  //   700: 215 26% 27%,
  //   800: 217 33% 17%,
  //   900: 222 47% 11%,
  //   950: 229 84% 5%,
  // ),
  // gray: (
  //   50: 210 20% 98%,
  //   100: 220 14% 96%,
  //   200: 220 13% 91%,
  //   300: 216 12% 84%,
  //   400: 218 11% 65%,
  //   500: 220 9% 46%,
  //   600: 215 14% 34%,
  //   700: 217 19% 27%,
  //   800: 215 28% 17%,
  //   900: 221 39% 11%,
  //   950: 224 71% 4%,
  // ),
  accent: ( // red
    300: 358 72% 70%,
    400: 358 72% 53%,
    500: 358 72% 30%,
  ),

  neutral: (
    100: 0 0% 100%,
    200: 0 0% 87%,
    300: 0 0% 80%,
    400: 0 0% 70%,
    500: 0 0% 60%,
    600: 0 0% 50%,
    700: 0 0% 40%,
    800: 0 0% 30%,
    900: 0 0% 15%,  
  )
);