.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    padding: 4rem 1rem;
    
    
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border-radius:0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: translateY(-5px);
    }
    img {
      height: 12rem;
      object-fit: cover;
      object-position: center;
  
    }
    .card-details{
      padding:1rem ;
      .card-title{
        font-weight: 600;
        font-size:.85rem;
        text-transform: capitalize;
        color:#1e293b;
        a{
          text-decoration: none;
          color:#1e293b;
          &::before{
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            cursor: pointer;
          }
         &:focus-within:focus{
          box-shadow: none;
          outline: none;
         }
        }
      }
      .card-information{
        font-size: .75rem;
        margin: .5rem 0;
        display: flex;
        justify-content: space-between;
        .card-date,.card-view{
          font-weight: 300;
          color: #64748b;
        } 
      }  
    
    }
  
  }
  .card:focus-within{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.729);
  }
  @media(min-width:0){
     .sm\:b-1{
      border:1px solid red;
     };
  }
  @media(min-width:768px){
    .md\:w-32{
      background:white;
    }
    .md\:justify-around{
      justify-content: space-around;
    }
    .md\:px-2{
      padding:0 1rem;
    }
    .cards{
      flex-direction: row;
      flex-wrap: wrap;
      .card{
        flex: 1 1 350px;
        max-width: 350px;
      }
    }
  
  }
  @media(min-width:1024px){
    .cards{
      padding: 2rem 4rem;
      gap: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
      .card{
        flex: 1 1 300px;
        max-width: 450px;
      }
    }
  
  }
  
  @media(min-width:1440px){
    .cards{
      .card{
        flex: 1 1 550px;
        max-width: 550px;
        .card-title{
          font-size: 1.5rem;
        }
      }
    }
  
  }